@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="d-flex row justify-content-center mt-4 min-vh-100">
    <div class="card col-12 col-sm-12 col-md-12 col-lg-11 col-xl-11 p-3 bg-light">
        <h1 class="font-weight-light text-center">Account settings</h1>
        <hr />
        <div class="row">
            <div class="col-md-3 mt-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9 mt-3">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
