@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Delete account";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>
            <strong class="text-danger">Warning: Deleted account can't be recovered.</strong>
        </p>
        <div class="d-flex justify-content-center">
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
